<!DOCTYPE html>
<html>
  <head>
    <title>Festival of the Woods</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <style> body {
      backgroud-color: forestgreen;
    }
    </style>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>