<h4>Add a stage and the people will come</h4>

<form method="post" action="/stages">
  <div class="form-group">
  <label for="name">Stage name</label>
  <input name="name" class="form-control" type="text">
  <label for="location">Where's it at?</label>
  <input name="location" class="form-control" type="text">
  <label for="capacity">How many people can see a show there?</label>
  <input name="capacity" class="form-control" type="number">
  </div>
  <button type="submit" id="go" class="btn-primary btn-lg">Submit a Stage</button>
</form>